/* custom Fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* CSS Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/************ Navbar ************/
/* nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1.1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.logo-resize {
  height: 8rem;
  width: auto;
  border-radius: 99px;
  position: relative;
  top: 8vh;
}
#basic-navbar-nav {
  flex-grow: 0;
  /* padding-right: 5rem; */
/* background-color: red; */
/* height: 100%;
} */
/* .me-auto {
  height: 100%;
}
.navbar-nav {
  align-items: baseline;
}
.navbar-link {
  height: 1px !important;
}
.navbar {
  height: 5vh;
}
.container {
  height: 5vh;
}
@media screen and (max-width: 991px) {
  .logo-resize {
    height: 6rem;
    top: 0vh;
  }
} */
/* CSS */

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 99vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  box-sizing: border-box;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
.scrolled {
  background: linear-gradient(
    90deg,
    rgba(32, 32, 57, 1) 0%,
    rgba(32, 32, 57, 0.5) 25%,
    rgba(32, 32, 57, 1) 50%,
    rgba(32, 32, 57, 0.5) 75%,
    rgba(32, 32, 57, 1) 100%
  );
  background-size: 500% 500%;
  animation: gradient 15s linear infinite;
  border-bottom: none;
}
nav > div {
  display: flex;
  height: 100%;
  width: 80%;
  /* background-color: rgba(89, 89, 165, 1); */
}
nav > div > a {
  width: 15%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-resize {
  height: 70%;
  width: auto;
  border-radius: 99px;
  position: relative;
}

nav > div > div {
  flex-grow: 10;
  display: flex;
  /* background-color: red; */
  justify-content: space-around; /* This will distribute the space between the links evenly */
}
.navbar-toggle-icon {
  flex-grow: 1;
  /* Style as needed, this is just a placeholder */
  height: 100%;
  background-color: transparent;
  /* background-color: red; */
}
.navbar-link {
  color: white; /* White link color */
  text-decoration: none; /* Remove underline */
}
.navbar-link.active {
  color: yellow; /* Active link color */
}

nav > div > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: 430;
}
.button {
  display: relative;
  flex-grow: 2;
  text-decoration: none;
}
.vvd {
  background-color: transparent;
  width: 90%;
  height: 70%;
  cursor: pointer;
  position: relative;
  border: 0.1rem solid white;
}

.vvd:hover > span {
  color: black;
}
.vvd span {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.vvd:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s ease-in-out;
  width: 0;
  z-index: -1;
}
.vvd:hover:before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.social-icon {
  height: 70%;
  width: auto;
  border: 0.1rem solid white;
  border-radius: 99px;
  padding: 0.5rem;
  position: relative;
  align-self: center;
}
.social-icon img {
  max-height: 100%;
  width: auto;
  z-index: 10;
  pointer-events: none; 
}
.social-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 99px;
   background-color: #ffffff;
  border-radius: 99px;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon:hover:before {
  transform: scale(1.1);
}
@media screen and (max-width: 750px) {
  nav > div {
    width: 95%;
  }
  nav > div > div > a {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 430;
  }
  .button {
    display: relative;
    flex-grow: 1;
    text-decoration: none;
  }
  nav > div > div > a:nth-child(4) {
    background-color: red;
    display: none;
  }
  nav > div > div > a:nth-child(5) {
    display: none;
  }
}
/************ Banner Css ************/
#home {
  margin-top: -10vh;
  height: 100vh;
  width: 100vw;
  /* background-image: url("./assets/img/skills-backgroundv8.png"); */
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7)
  );
  overflow: hidden;
}
.dimmer {
  height: 100%;
  width: 100%;
  background-image: url("./assets/img/skills-backgroundv8.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7)
  ); */
  display: grid;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
  /* grid-template-rows: repeat(4, minmax(0, 1fr)); */
  grid-template-rows: minmax(0, 1.3fr) minmax(0, 3fr) 1fr minmax(0, 4fr);
  position: relative;
  animation: expand 0.4s linear;
}
.dimmer::before {
  /* Add the linear gradient on top of the image */
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.5)
  );
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes expand {
  from {
    transform: scale(0);
    border-radius: 50%;
  }
  to {
    transform: scale(1);
  }
}
.banner-top {
  grid-column: 1 / span 2;
}
.banner-left-top {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.banner .tagline {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: rgba(148, 121, 102, 0.4);
  border: 0.05rem solid white;
  box-shadow: 0 0 3px rgba(179, 138, 116, 1), 0 0 6px rgba(179, 138, 116, 1),
    0 0 19px rgba(179, 138, 116, 1), 0 0 64px rgba(179, 138, 116, 1);
  /* backdrop-filter: invert(80%) brightness(80%); */
  color: rgb(225, 225, 225);
}
.banner-left-top h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(225, 225, 225);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.banner-left-middle {
  grid-column: 1;
  height: 100%;
}
.banner-left-middle h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(225, 225, 225);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.banner-left-bottom {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
@keyframes heading {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  41% {
    transform: translateY(0px) translateX(0px);
  }
  55% {
    transform: translateY(0px) translateX(-50px) rotate(0deg);
  }
  75% {
    transform: translateY(0px) translateX(0px);
  }
  90% {
    transform: translateY(00px) translateX(0px);
  }
  100% {
    transform: translateY(00px) translateX(0px);
  }
}
.banner-left-bottom h5 {
  font-size: 1.6rem;
  padding: 1rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: white;
  line-height: 2.8rem;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  /* backdrop-filter: blur(3px); */
  border-radius: 30px;
  /* animation: heading 7s linear infinite; */
  background: rgba(9, 13, 20, 0.83);
  font-weight: 400;
}
/* @media screen and (max-width: 1300px) {
  @keyframes heading {
    0% {
      transform: translateY(0px) translateX(0px);
    }
    35% {
      transform: translateY(0px) translateX(0px);
    }
    50% {
      transform: translateY(0px) translateX(-50px) rotate(0deg);
    }
    75% {
      transform: translateY(0px) translateX(0px);
    }
    90% {
      transform: translateY(00px) translateX(0px);
    }
    100% {
      transform: translateY(00px) translateX(0px);
    }
  }
} */
.banner-right {
  grid-column: 2;
  grid-row: 2 / span 3;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  overflow: visible;
  position: relative;
}
.banner-right h6 {
  background: rgba(148, 121, 102, 0.1);
  color: #9eb9cb;
  margin: 0;
  padding: 1rem;
  position: relative;
  font-size: 1.1rem;
}
.banner-right h6::before {
  content: "(Randomly Api Generated Quote)";
  width: 100%;
  height: 100%;
  /* background: inherit; */
  /* Apply the invert effect to the ::before element */
  /* filter: invert(100%); */
  /* Set the z-index to make the ::before element appear on top of the element */
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  /* color:#804f30 */
}
.banner-right h6:nth-child(even) {
  backdrop-filter: invert(100%) brightness(65%);
  color: rgb(80, 54, 36);
}
.banner-right h6:nth-child(odd) {
  backdrop-filter: blur(4px);
  /* transform: scale(1.4); */
}
/* ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT  */
.banner-right-top {
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.banner-right-right {
  grid-column: 3;
  grid-row: 2 / span 5;
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  overflow: auto;
}
.banner-right-left-top-left {
  grid-column: 1;
  grid-row: 2 / span 3;
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  overflow: auto;
}
.banner-right-left-top-right {
  grid-column: 2;
  grid-row: 2 / span 3;
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  overflow: auto;
}
.banner-right-left-bottom-top {
  grid-row: 5;
  grid-column: 1 / span 2;
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.banner-right-left-bottom-bottom {
  grid-row: 6;
  grid-column: 1 / span 2;
  border: 0.02rem solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.banner_right_top_animation {
  animation: right_top ease-out 12s infinite;
  /* background-color: red !important; */
}
.banner_right_right_animation {
  animation: right_right ease-out 12s infinite;
  /* background-color: red !important; */
}
.banner_right_left_top_left_animation {
  animation: right_left_top_left ease-out 12s infinite;
  /* background-color: red !important; */
}
.banner_right_left_top_right_animation {
  animation: right_left_top_right ease-out 12s infinite;
  /* background-color: red !important; */
}
.banner_right_left_bottom_top_animation {
  animation: right_left_bottom_top ease-out 12s infinite;
  /* background_color: red !important; */
}
.banner_right_left_bottom_bottom_animation {
  animation: right_left_bottom_bottom ease-out 12s infinite;
  /* background-color: red !important; */
}
.glow_animation {
  animation: glow ease-out 12s infinite;
}
/* ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT ALL BANNER RIGHT  */
#extra-glow {
  background-color: black;
  box-shadow: 0 0 5px rgba(179, 138, 116, 0.8), 0 0 8px rgba(179, 138, 116, 0.8),
    0 0 39px rgba(179, 138, 116, 0.8), 0 0 104px rgba(179, 138, 116, 0.8);
  color: white;
  border: 0.15rem solid lightgray;
}
@media screen and (max-width: 1100px) {
  .dimmer {
    grid-template-rows: minmax(0, 1.3fr) minmax(0, 3fr) 1fr minmax(0, 5fr);
    /* background-color: red; */
  }
  .dimmer h5 {
    font-size: 1.4rem;
    padding: 0.5rem;
    text-align: justify;
  }
  .banner-left-bottom {
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .dimmer {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 0.6fr) minmax(0, 1fr) minmax(0, 0.2fr) minmax(0, 1.5fr)
      minmax(0, 3fr);
  }
  .banner-top {
    grid-column: 1;
    grid-row: 1;
  }
  .banner-left-top {
    grid-column: 1;
    grid-row: 2;
  }

  .banner-left-top h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .banner-left-middle {
    grid-column: 1;
    grid-row: 3;
  }
  .banner-left-middle h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .banner-left-bottom {
    grid-column: 1;
    grid-row: 4;
  }
  .banner-left-bottom h5 {
    width: 80%;
  }
  .banner-right {
    grid-column: 1;
    grid-row: 5;
  }
  .banner-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    overflow: visible;
  }
  .banner-right h6 {
    margin: 0;
    padding: 1rem;
  }
  .dimmer h5 {
    font-size: 1rem;
  }
  .dimmer h1 {
    font-size: 1.4rem;
  }
  .dimmer h6 {
    font-size: 0.75rem;
  }
  @keyframes rip {
    0% {
      transform: translateX(0px);
    }
    15% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-15px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes updown {
    0% {
      transform: translateY(0px);
    }
    15% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(00px);
    }
  }
}
@media screen and (max-width: 750px) {
  .banner-left-top .tagline {
    background: rgb(13, 44, 89);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    display: none;
  }
  .banner-left-bottom h5 {
    width: 98%;
    height: auto;
    backdrop-filter: blur(1px);
    border-radius: 30px;
    border: none;
    animation: none;
    font-size: 130%;
    /* background: rgb(8, 34, 74); */
    color: white;
    background: rgba(9, 13, 20, 0.83);
    border-radius: 15px;
    padding: 0.3rem 1rem;
    font-weight: 400;
    font-size: 1.21rem;
    line-height: 1.8rem;
  }

  .project-three {
    height: 55%;
    width: 90% !important;
    /* background-color: rgba(178, 47, 47, 0.5); */
    display: flex;
    overflow: auto;
    border-radius: 20px;
  }
  .project-inner {
    padding: 2% 1%;
    height: 100%;
    /* width: 25%; */
    overflow: auto;
    flex: 1 1 0px;
    min-width: 60% !important;
  }
  #home {
    height: 100vh;
    width: 100vw;
  }
  .dimmer {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 1.2fr) minmax(0, 2fr) minmax(0, 0.5fr) minmax(0, 6fr)
      minmax(0, 6fr);
    /* background-image: none; */
    /* background-color: rgb(8, 30, 58); */
  }
  .logo-resize {
    height: 3.5rem;
    top: 0vh;
  }
  .dimmer h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: white;
  }
  .banner-right {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows:
      minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
      minmax(0, 2fr) minmax(0, 2fr);
    overflow: visible;
    /* display: none; */
  }
  .banner-right h6::before {
    content: "";
  }
  .banner-right h6:nth-child(odd) {
    color: white;
  }
  .nav .navbar {
  }
}

/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS*/
#projects {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("./assets/img/skills-backgroundv9.png");
  background-size: cover;
  color: #c4b091;
  text-shadow: -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000, 1.3px -1.3px 0 #000,
    -1.3px -1.3px 0 #000;
  overflow: hidden;
}
.dimmer2 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-one {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* background-color: red; */
}
.project-one p {
  width: 55%;
  font-size: 1.5rem;
  overflow: auto;
  text-align: justify;
  display: flex;
}
.project-two {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.project-two button {
  height: 100%;
  width: 20%;
  /* background-color: blue; */
  border: 0.1rem solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  color: #c4b091;
  text-shadow: -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000, 1.3px -1.3px 0 #000,
    -1.3px -1.3px 0 #000;
  backdrop-filter: blur(3px);
}
.left-chosen {
  background: linear-gradient(90.21deg, #4a2fbd, #807050, #c4b091);
  box-shadow: 0 0 5px #4a2fbd, 0 0 25px #4a2fbd, 0 0 50px #c4b091,
    0 0 200px #c4b091;
  -webkit-box-reflect: above 1px linear-gradient(#0005, transparent);
}
.center-chosen {
  background: linear-gradient(90.21deg, #807050, #c4b091, #807050);
  box-shadow: 0 0 5px #c4b091, 0 0 25px #c4b091, 0 0 50px #c4b091,
    0 0 200px #c4b091;
  -webkit-box-reflect: above 1px linear-gradient(#0005, transparent);
}
.right-chosen {
  background: linear-gradient(90.21deg, #807050, #c4b091, #4a2fbd);
  box-shadow: 0 0 5px #4a2fbd, 0 0 25px #4a2fbd, 0 0 50px #c4b091,
    0 0 200px #c4b091;
  -webkit-box-reflect: above 1px linear-gradient(#0005, transparent);
}
.project-two button:nth-child(1):hover {
  background: linear-gradient(90.21deg, #4a2fbd, #807050, #c4b091);
}
.project-two button:nth-child(2):hover {
  background: linear-gradient(90.21deg, #807050, #c4b091, #807050);
}
.project-two button:nth-child(3):hover {
  background: linear-gradient(90.21deg, #807050, #c4b091, #4a2fbd);
}
.project-two .center {
  border-radius: 0;
}
.project-two .left {
  border-radius: 20px 0px 0px 20px;
}
.project-two .right {
  border-radius: 0px 20px 20px 0px;
}
.project-three {
  height: 55%;
  width: 80%;
  /* background-color: rgba(178, 47, 47, 0.5); */
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  border-radius: 20px;
}
.project-inner {
  padding: 2% 1%;
  height: 100%;
  /* width: 25%; */
  overflow: auto;
  flex: 1 1 0px;
  min-width: 60%;
}
.project-inner-inner {
  height: 90%;
  width: auto;
  /* background-color: green; */
  border: 0.2rem solid white;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}
.project-inner-inner-blur {
  backdrop-filter: blur(2.5px);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-inner-inner:hover {
  border: none;
  transform: scale(1.05);
}
.project-inner-inner-blur:hover {
  backdrop-filter: blur(0px);
}
.project-inner-inner h2 {
  text-shadow: -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000, 1.3px -1.3px 0 #000,
    -1.3px -1.3px 0 #000;
  color: white;
  text-decoration: none;
}
.project-inner-inner h5 {
  text-shadow: -1.3px 1.3px 0 #000, 1.3px 1.3px 0 #000, 1.3px -1.3px 0 #000,
    -1.3px -1.3px 0 #000;
  color: white;
  text-decoration: none;
}
.project-inner a {
  text-decoration: none;
  background-color: rgba(174, 152, 152, 0);
}
.not-all-clicked {
  animation: notClicked 2s linear infinite;
}
@keyframes notClicked {
  0% {
    transform: scale(1);
  }
  50% {
    /* transform: translateY(-50px); */
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  .project-one p {
    width: 90%;
    overflow: auto;
  }
  .project-two button {
    width: 30%;
    font-size: 1.2rem;
  }
  .project-clicked button {
    width: 25%;
  }
  .project-three {
    height: 55%;
    width: 95% !important;
    /* background-color: rgba(178, 47, 47, 0.5); */
    display: flex;
    overflow: auto;
    border-radius: 20px;
  }
  .project-inner {
    padding: 2% 1%;
    height: 100%;
    /* width: 25%; */
    overflow: auto;
    flex: 1 1 0px;
    min-width: 90% !important;
  }
}
/*  SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION  */
#skills {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.dimmer-skills {
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.9)
  );
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 2fr 2fr 9fr;
}
.skills-left-middle {
  /* background-color: blue; */
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 25%;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}
.skills-left-middle h1 {
  padding: 1.5rem;
  backdrop-filter: invert(100%);
  background-color: rgba(193, 178, 152, 0.4);
  color: rgb(44, 48, 51);
  border: solid white;
  border-radius: 15px;
}
.skills-left-bottom {
  /* background-color: green; */
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-right {
  /* background-color: blueviolet; */
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 10px;
}
.skills-spinning {
  height: 100%;
  width: 70%;
  /* background-color: BLUE; */
  display: flex;
  justify-content: right;
  align-items: center;
}
.skills-spinning-wheel {
  height: 80%;
  width: 80%;
  border: 0.05rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  border-radius: 10px;
}

@keyframes spinning-to-right {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
.skills-spinning-wheel-inner {
  height: 30vh;
  width: 30vh;
  /* border: 0.05rem dashed rgba(255, 255, 255, 0.5); */
  /* background-color: green; */
  border-radius: 50%;
  backdrop-filter: blur(2px);
  animation: spinning-to-right infinite 8s linear;
  display: grid;
  gap: 0.5rem;
  /* background-color: red; */
  grid-template-areas:
    "1 2 3 4 "
    "6 7 8 9"
    "11 12 13 14"
    "16 17 18 19";
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
}
@keyframes spinning-to-right-outer {
  from {
    transform: rotate(0deg) scale(0.1);
  }
  to {
    transform: rotate(360deg) scale(1.1);
  }
}
.banner-left-bottom {
  animation: 1s ease-in 1 spinning-to-right-outer;
}
.spinning_into_view_animation {
  animation: 1s ease-in 1 spinning-to-right-outer;
}
/* @keyframes spinning-to-left-one {
  0% {
    transform: rotate(360deg) scale(1.1);
  }
  12.5% {
    transform: rotate(315deg) scale(1.3);
  }
  25% {
    transform: rotate(270deg) scale(1.1);
  }
  37.5% {
    transform: rotate(225deg) scale(1.3);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  62.5% {
    transform: rotate(135deg) scale(1.3);
  }
  75% {
    transform: rotate(90deg) scale(1.1);
  }
  87.5% {
    transform: rotate(45deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
} */
@keyframes spinning-to-left-one {
  0% {
    transform: rotate(360deg) scale(0.25);
  }
  25% {
    transform: rotate(270deg) scale(1.5);
  }
  50% {
    transform: rotate(180deg) scale(0.25);
  }
  75% {
    transform: rotate(90deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(0.25);
  }
}
/* @keyframes spinning-to-left-two {
  0% {
    transform: rotate(360deg) scale(1.3);
  }
  12.5% {
    transform: rotate(315deg) scale(1.1);
  }
  25% {
    transform: rotate(270deg) scale(1.3);
  }
  37.5% {
    transform: rotate(225deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  62.5% {
    transform: rotate(135deg) scale(1.1);
  }
  75% {
    transform: rotate(90deg) scale(1.3);
  }
  87.5% {
    transform: rotate(45deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1.3);
  }
} */
@keyframes spinning-to-left-two {
  0% {
    transform: rotate(360deg) scale(1.5);
  }
  25% {
    transform: rotate(270deg) scale(0.25);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  75% {
    transform: rotate(90deg) scale(0.25);
  }
  100% {
    transform: rotate(0deg) scale(1.5);
  }
}
.skills-spinning-inner-inner {
  height: 5vh;
  width: 5vh;
  /* background-color: white; */
  /* background-size: cover; */
  /* border-radius: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-spinning-inner-inner img {
  height: auto;
  width: 100%;
}
/* JAVASCRIPT */
.skills-spinning-inner-inner:nth-child(1) {
  grid-area: 3/3;
  animation: spinning-to-left-one infinite 8s linear;
}
/* FLASK */
.skills-spinning-inner-inner:nth-child(2) {
  grid-area: 2/3;
  animation: spinning-to-left-two infinite 8s linear;
}
/* PYTHON */
.skills-spinning-inner-inner:nth-child(3) {
  animation: spinning-to-left-two infinite 8s linear;
  grid-area: 2/4;
}
/* VSCODE RIBBON */
.skills-spinning-inner-inner:nth-child(4) {
  animation: spinning-to-left-two infinite 8s linear;
  grid-area: 4/3;
}
/* POSTMAN */
.skills-spinning-inner-inner:nth-child(5) {
  animation: spinning-to-left-two infinite 8s linear;
  grid-area: 1/2;
}
/* SQL DATABASE */
.skills-spinning-inner-inner:nth-child(6) {
  grid-area: 4/2;
  animation: spinning-to-left-one infinite 8s linear;
}
/* REACT */
.skills-spinning-inner-inner:nth-child(7) {
  animation: spinning-to-left-two infinite 8s linear;
  grid-area: 3/2;
}
/* NODEMON */
.skills-spinning-inner-inner:nth-child(8) {
  grid-area: 2/2;
  animation: spinning-to-left-one infinite 8s linear;
}
/* FIGMA */
.skills-spinning-inner-inner:nth-child(9) {
  animation: spinning-to-left-one infinite 8s linear;
  grid-area: 3/4;
}
/* GIT */
.skills-spinning-inner-inner:nth-child(10) {
  animation: spinning-to-left-one infinite 8s linear;
  grid-area: 2/1;
}
/* CSS3 */
.skills-spinning-inner-inner:nth-child(11) {
  animation: spinning-to-left-one infinite 8s linear;
  grid-area: 1/3;
}
/* HTML5 */
.skills-spinning-inner-inner:nth-child(12) {
  animation: spinning-to-left-two infinite 8s linear;
  grid-area: 3/1;
}
.skills-paragraph-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 30%;
  /* border: 0.05rem solid rgb(0, 0, 0); */
  backdrop-filter: invert(100%);
  background-color: rgba(193, 178, 152, 0.4);
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, */
  /* 1px 1px 0 #000; */
  color: rgb(44, 48, 51);
  border-radius: 10px;
}
.skills-paragraph-inner {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.skills-paragraph-inner h4 {
  font-size: 1.4rem;
}
.skills-resume {
  height: 70%;
  width: 80%;
  border: 0.05rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.skills-resume button {
  background-color: rgba(214, 204, 204, 0);
  color: white;
  border: none;
  font-size: larger;
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skills-resume a {
  height: 100%;
  width: 100%;
}
.ironHack {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1055px) {
  .dimmer-skills {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 2fr 0.8fr;
  }
  .skills-left-top {
    /* grid-area: one; */
    grid-row-start: 1;
    align-items: center;
    justify-content: center;
  }
  .skills-left-middle {
    grid-row-start: 2;
    /* grid-area: two; */
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .skills-left-bottom {
    grid-row-start: 3;

    /* grid-area: three; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-right {
    margin: 0;
    grid-column: 1;
    grid-row-start: 4;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: center;
  }
  .skills-resume {
    height: 100%;
    width: 100%;
    border: 0.05rem solid white;
  }
  .skills-resume button {
    /* background-color: red; */
    height: 60%;
    width: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .skills-resume img {
    height: 100%;
    width: auto;
  }
  .skills-spinning-wheel {
    width: 100%;
    height: 100%;
  }
  .skills-paragraph-main {
    height: 100%;
  }
  .skills-paragraph-inner {
    width: 90%;
    font-size: 0.8rem;
    overflow: hidden;
  }
  .skills-paragraph-inner h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .dimmer-skills {
    grid-template-rows: 0.1fr 3fr 18fr 3fr 1fr;
    gap: 2vh;
  }
  .skills-left-bottom {
    flex-direction: column;
  }
  .skills-spinning {
    width: 70%;
    height: 50%;
  }
  .skills-spinning-wheel-inner {
    height: 50%;
    width: 50%;
  }
  .skills-spinning-inner-inner {
    height: 10%;
    width: 75%;
  }
  .skills-paragraph-main {
    width: 70%;
    height: 50%;
  }
  .skills-left-middle {
  }
}
@media screen and (max-width: 500px) {
  .skills-paragraph-inner h4 {
    font-size: 0.8rem;
  }
  .skills-paragraph-inner p {
    font-size: 0.6rem;
  }
  .skills-resume button {
    /* background-color: red; */
    height: 47%;
    width: 80%;
  }
  .skills-left-middle h1 {
    padding: 1.3vh;
    width: 90%;
    font-size: 2.3vh;
  }
  .skills-resume button {
    height: 70%;
  }
  .skills-spinning-wheel-inner {
    height: 65%;
    width: 65%;
  }
}
/* CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  */
#connect {
  height: 50vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(32, 32, 57, 1) 0%,
    rgba(32, 32, 57, 0.5) 25%,
    rgba(32, 32, 57, 1) 50%,
    rgba(32, 32, 57, 0.5) 75%,
    rgba(32, 32, 57, 1) 100%
  );
  background-size: 500% 500%;
  animation: gradient 15s linear infinite;
  overflow: hidden;
}

.connect-dimer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 85%,
    rgba(0, 0, 0, 0.35) 90%,
    rgba(0, 0, 0, 0.8) 95%,
    rgba(0, 0, 0, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.connect-right {
  height: 90%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(173, 185, 209);
  box-sizing: border-box;
}
.connect-right form {
  height: 80%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(153, 159, 169, 0.5);
  border: solid 0.5rem rgba(218, 222, 230, 0.8);
}
.connect-right form:hover {
  transform: scale(1.1) translateY(-10%);
}
.connect-right-message {
  grid-column: 1 / span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.connect-right button {
  grid-column: 1 / span 2;
}

#connect span {
  height: 100%;
  width: 100%;
  color: black;
}
#connect span:hover {
  transform: scale(1.01) translateY(-5%);
}
#connect span input {
  height: 100%;
  width: 100%;
  background-color: rgba(233, 236, 240, 1);
  color: black;
}
#connect textarea {
  height: 100%;
  width: 100%;
  background-color: rgba(233, 236, 240, 1);
}
#connect button {
  height: 100%;
  width: 100%;
  background-color: rgba(106, 125, 160, 0.1);
  color: black;
}
#connect button:hover {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}
.connect-right-result {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 850px) {
  #connect {
    grid-template-columns: 1fr;
    height: auto;
    align-items: stretch;
  }
  .connect-right {
    height: 100%;
    width: 100%;
  }
  .connect-right form {
    height: 90%;
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .project-one h1 {
    font-size: 1.2rem;
  }
  .project-one p {
    font-size: 0.85rem;
  }
}
.red {
  color: rgb(130, 31, 31) !important;
}
.loading-outer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  height: 50%;
  width: 50%;
}
