/* custom Fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* CSS Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h6,
h5. h4,
h3. h2. h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************ Navbar ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.logo-resize {
  height: 8rem;
  width: 8rem;
  border-radius: 99px;
}
#basic-navbar-nav {
  flex-grow: 0;
  /* padding-right: 5rem; */
}

/************ Banner Css ************/
.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("./assets/img/brainmotion.gif");
  /* background-color: rgba(0,0,0,1); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dimmer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7)
  );
  /* background-color: red; */
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  padding-left: 1rem;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  color: #000;
}
.banner button:hover svg {
  margin-left: 25px;
}
.creation-one {
  padding-bottom: 6rem;
}
.what {
  height: 50vh;
}
.creation1 {
  animation: rip 14s linear infinite;
}
@keyframes rip {
  0% {
    transform: translateX(50px);
  }
  50% {
    /* transform: translateY(-50px); */
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}
.creation {
  animation: updown 7s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.col-xl-7 {
  z-index: 100;
}
.col-xl-7 h1 {
  z-index: 100;
  height: 35vh;
}

/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS*/
#projects {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("./assets/img/cryptocurrencybackgroundtwo.gif");
  background-size: cover;
}
.dimmer2 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-one {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* background-color: red; */
}
.project-one p {
  width: 50%;
}
.project-two {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.project-two button {
  height: 100%;
  width: 20%;
  /* background-color: blue; */
  border: 0.1rem solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
.project-two button:hover {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}
.project-two .center {
  border-radius: 0;
}
.project-two .left {
  border-radius: 20px 0px 0px 20px;
}
.project-two .right {
  border-radius: 0px 20px 20px 0px;
}
.project-three {
  height: 55%;
  width: 80%;
  /* background-color: rgba(178, 47, 47, 0.5); */
  display: flex;
  flex-grow: 1;
}
.project-inner {
  padding: 2% 1%;
  height: 100%;
  width: 100%;
  /* background-size: cover; */
  /* background-color: green; */
}
.project-inner-inner {
  height: 90%;
  width: 100%;
  /* background-color: green; */
  border: 0.2rem solid white;
  border-radius: 20px;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-inner-inner:hover {
  border: 0.2rem solid #184047;
  transform: scale(1.05);
}
.project-inner-inner h2 {
  text-shadow: 5px 5px 0 #000;
  color: white;
  text-decoration: none;
}
.project-inner-inner h5 {
  text-shadow: 5px 5px 0 #000;
  color: white;
  text-decoration: none;
}
.project-inner a {
  text-decoration: none;
}
.not-all-clicked {
  animation: notClicked 2s linear infinite;
}
@keyframes notClicked {
  0% {
    transform: scale(1);
  }
  50% {
    /* transform: translateY(-50px); */
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/*  SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION SKILLS SECTION  */
#skills {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}
.dimmer-skills {
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.8)
  );
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 2fr 2fr 9fr;
}
.skills-left-top {
  /* background-color: red; */
}
.skills-left-middle {
  /* background-color: blue; */
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 25%;
}
.skills-left-bottom {
  /* background-color: green; */
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-right {
  /* background-color: blueviolet; */
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 10px;
}
.skills-resume {
  height: 70%;
  width: 80%;
  border: 0.05rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-spinning {
  height: 100%;
  width: 70%;
  /* background-color: BLUE; */
  display: flex;
  justify-content: right;
  align-items: center;
}
.skills-spinning-wheel {
  height: 80%;
  width: 80%;
  border: 0.05rem solid white;
  /* background-color: green; */
}
.skills-paragraph-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 30%;
  border: 0.05rem solid white;
}
.skills-paragraph-inner {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.skills-resume button {
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
  font-size: larger;
}
/* CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  CONNECT FOOTER  */
#connect {
  background-color: #000;
  height: 50vh;
  width: 100vw;
  /* background-color: green; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(54, 54, 54, 0.3) 50%,
    rgba(0, 0, 0, 0.8)
  );
}
.connect-left {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-left img {
  height: 80%;
  width: 80%;
}
.connect-right {
  margin-top: 10%;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.connect-right form {
  height: 60%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: 0.1rem;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border: 0.2rem solid white;
}
.connect-right form:hover {
  transform: scale(1.1) translateY(-10%);
}

.connect-right-message {
  grid-column: 1 / span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.connect-right button {
  grid-column: 1 / span 2;
}

#connect span {
  height: 100%;
  width: 100%;
}
#connect span:hover {
  transform: scale(1.01) translateY(-5%);
}
#connect span input {
  height: 100%;
  width: 100%;
}
#connect textarea {
  height: 100%;
  width: 100%;
}
#connect button {
  height: 100%;
  width: 100%;
}
#connect button:hover {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
}
.connect-right-result {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
